.domain-container {
  margin:auto;
  width: 500px;
  margin-top: 50px;
}

.domain-container tr th:first-of-type,
.domain-container tr td:first-of-type {
  text-align: left;
}

.domain-container tr th:last-of-type,
.domain-container tr td:last-of-type {
  text-align: right;
}

.domain-container .money {
  font-weight: bold;
}

a:link {
  color: green;
}

.detail-view-container {
  margin:auto;
  width: 500px;
  margin-top: 50px;
}

.detail-view-container .form-horizontal .control-label {
  text-align: left;
}

.detail-view-container .form-control {
  border-radius: 0px;
}

.detail-view-container .form-control {
  border-radius: 0px;
}

.detail-view-container .btn {
  border-radius: 0px;
}


/* Animations */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.domain-list tr {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: .8s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  animation-name: fadeIn;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
