.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.domain-container {
  margin:auto;
  width: 500px;
  margin-top: 50px;
}

.domain-container tr th:first-of-type,
.domain-container tr td:first-of-type {
  text-align: left;
}

.domain-container tr th:last-of-type,
.domain-container tr td:last-of-type {
  text-align: right;
}

.domain-container .money {
  font-weight: bold;
}

a:link {
  color: green;
}

.detail-view-container {
  margin:auto;
  width: 500px;
  margin-top: 50px;
}

.detail-view-container .form-horizontal .control-label {
  text-align: left;
}

.detail-view-container .form-control {
  border-radius: 0px;
}

.detail-view-container .form-control {
  border-radius: 0px;
}

.detail-view-container .btn {
  border-radius: 0px;
}
